<div class="jumbotron">
  <div class="container">
    <h2 date-e2e="title">Welcome to Epool.eu</h2>
    
    
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  
    <div class="col-xs-6" name="pirl">
      <h2>Pirl</h2>
      <a><img src="http://pirl.epool.eu/logo-49909a004921f1def9922d00cd40396c.png" border="0" height="70px"></a>
    
      <li>Min. payout threshold: 1 PIRL.</li>
      <li>Payments rollout every hour.</li>
      <li>Pool Fee: 0.25%</li>
      <p><a class="btn btn-success btn-lg" href="http://pirl.epool.eu" role="button">Start mining »</a></p>
    </div>
    
    <div class="col-xs-6" name="clo">
        <h2>Callisto</h2>
        <a><img src="https://callisto.network/static/clo-logo.6d9b9d0a.png" border="0" height="70px"></a>
        <p>Callisto Mainnet 3.0 release date: at 00:00 UTC, 15 April 2018</p>
        <li>Payments rollout every hour.</li>
        <li>Pool Fee: 0.25%</li>
        
        <p><a class="btn btn-default btn-lg" href="#" role="button">Not ready »</a></p>
      </div>

   
  
</div>
