<div class="jumbotron">
  <div class="container">
    <h1 date-e2e="title">Welcome to Epool.eu</h1>
    <p>This is a demo app using angular 2 and firebase, as well as ngrx/store.</p>
    <p><a class="btn btn-primary btn-lg" role="button" routerLink="/sign-up">See more »</a></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6" name="coins">
      <h2>Pirl</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <li>Payouts from 1 PIRL</li>
      <p><a class="btn btn-success btn-lg" href="http://pirl.epool.eu" role="button">Start mining »</a></p>
    </div>
    <div class="col-md-6">
      <h2>Callisto</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default btn-lg" href="#" role="button">Not ready »</a></p>
    </div>
  </div>
</div>
