@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/bootstrap-social/bootstrap-social.css';

.list-group-item {
    border: none;
}

li {
    margin-bottom: 8px;
}

[name="coins"]{
    background-color: antiquewhite;
}